

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.navbar {
    background-color: #343a40 !important;
}

.navbar-brand {
    color: #ffffff;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
    font-weight: bold;
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.social-icons {
    font-size: 24px;
}


